/* gallery.css */

.fade-box {
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 1;
  transform: translateY(0);
}

.fade-box.hide {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  position: absolute;
  width: 100%;
}